* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
    
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3 1fr);
    gap: 1rem;
}

.game-intro {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 1rem 1rem 1rem 1rem;
}

.score-board {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 1rem 1rem 1rem 1rem;
    color: black;
}

.timer {
    grid-column-start: 1;
    grid-row-start: 1;

    align-self: end;
    color: black;
    margin: 1rem 1rem 1rem 1rem;

}


#canvas {
    background-color: darkgray;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 1rem 0;
}

img {
    display: none;
}

h1 {
    font-size: 2.7rem;
    margin: 0 0 1rem 0;
    color: black;
    text-shadow: -5px 5px lightgreen;
}

p {
    color:black;
}

#start-btn {

    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    margin: 1rem 0 0 0;
}

